body{
    position: absolute;
    /*left: -10.4%;
    top: -3%;
    

    background-repeat: no-repeat;
    backdrop-filter: blur(3.5px);
    */

    left: -0.4%;
    top: -0.9%;
    height: 100vh;
    width: 100%;
    
}
.blur{
    background-image: url("../img/LunarBwLobbyPic.png");
    background-size:cover;
    filter: blur(0.5px) saturate(300%);;

    position: absolute;
    width: 100%;
    height: 100%;
}

.text{
    z-index: 9999;
    filter: blur(0px);
    color: whitesmoke;
}