body{
    background-color: #00165e;
    margin-top: 15%;
    margin-left: 40%;
}
#Calculator{
    width: 40%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    padding: 10px;

    
}

.CalcButton{
    width: 24%;
    height: 50px;
    border-radius: 5px;
    background-color: #00165e;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0.5%;
    margin-left: 1%;
}

#NumDisplay{
    font-size: 30px;
}